
<h1>Welcome to the Static Webpage Generator!</h1>
<a href="http://localhost:3000">Home</a>
<br><br>
<div class="form">

	<%= label_tag(:site_name, "Website Name:") %>
	<%= text_field_tag(:site_name) %>
	<br>
	
	<%= label_tag(:background_color, "Background Color:") %>
	<%=radio_button_tag(:background_color, "red") %>
	<%= label_tag(:background_color, "Red") %>

	<%=radio_button_tag(:background_color, "blue") %>
	<%= label_tag(:background_color, "Blue") %>

	<%=radio_button_tag(:background_color, "black") %>
	<%= label_tag(:background_color, "Black") %>

	<%=radio_button_tag(:background_color, "white") %>
	<%= label_tag(:background_color, "White") %>
	<br>
	
	<%= label_tag(:font_color, "Font Color:") %>
	<%=radio_button_tag(:font_color, "orange") %>
	<%= label_tag(:font_color, "Orange") %>

	<%=radio_button_tag(:font_color, "purple") %>
	<%= label_tag(:font_color, "Purple") %>

	<%=radio_button_tag(:font_color, "black") %>
	<%= label_tag(:font_color, "Black") %>

	<%=radio_button_tag(:font_color, "white") %>
	<%= label_tag(:font_color, "White") %>
	<br>
	
	<%= label_tag(:secondary_color, "Secondary Color:") %>
	<%=radio_button_tag(:secondary_color, "brown") %>
	<%= label_tag(:secondary_color, "Brown") %>

	<%=radio_button_tag(:secondary_color, "green") %>
	<%= label_tag(:secondary_color, "Green") %>

	<%=radio_button_tag(:secondary_color, "yellow") %>
	<%= label_tag(:secondary_color, "Yellow") %>

	<%=radio_button_tag(:secondary_color, "gray") %>
	<%= label_tag(:secondary_color, "Gray") %>
	<br>
</div>