<!DOCTYPE html>
<html>
	<head>
		<style>
			h1
			{
				text-align: center;
				<% if @page.titleUnderline %>
					<%= "text-decoration: underline;" %>
				<% end %>
				<% if @page.titleItalicize %>
					<%= "font-style: italic;" %>
				<% end %>
				<% if @page.titlePosition == "Left" %>
					<%= "text-align: left;" %>
				<% end %>
				<% if @page.titlePosition == "Center" %>
					<%= "text-align: center;" %>
				<% end %>
				<% if @page.titlePosition == "Right" %>
					<%= "text-align: right;" %>
				<% end %>
			}
			.preview 
			{
				<% if @page.bgImageBool %>
					<%= "background-image: url(" %>
					<%= @page.bgImage %>
					<%= ");" %>
					
					<% if !@page.bgImageTile %>
						<%= "background-repeat: no-repeat;" %>
						<%= "background-size: cover;" %>
					<% end %>
					<% if @page.bgImageScroll %>
						<%= "background-attachment: scroll;" %>
					<% end %>
				<% end %>
				
				color: <%= @page.fontColor %>;
				font-family: <%= @page.fontStyle %>;
				text-shadow: <%= @page.textShadow %>px 
					<%= @page.textShadow %>px 
					<%= @page.shadowBlur %>px 
					<%= @page.shadowColor %>;
				border-style: <%= @page.borderStyle %>;
				border-width: <%= @page.borderWidth %>px;
				border-color: <%= @page.borderColor %>;
				border-radius: <%= @page.borderRounded %>%;
			}
			p
			{
			<% if @page.textStyle == "Lowercase" %>
				<%= "text-transform: lowercase;" %>
			<% end %>
			<% if @page.textStyle == "Uppercase" %>
				<%= "text-transform: uppercase;" %>
			<% end %>
			<% if @page.textStyle == "Capitalize" %>
				<%= "text-transform: capitalize;" %>
			<% end %>			
			}
			.previewBackground
			{
				background-color: <%= @page.bgColor %>;			
			}
			a.outside:visited{color: purple;}
			a.inside:link{
				<% if !@page.defaultLinks %>
					<%= "color:" %>
					<%= @page.aLink %>
				<% end %>
			;}
			a.inside:visited{ 
				<% if !@page.defaultLinks %>
					<%= "color:" %>
					<%= @page.aVisited %>
				<% end %>
			;}
			a.inside:hover{
				<% if !@page.defaultLinks %>
					<%= "color:" %>
					<%= @page.aHover %>
				<% end %>
			;}
			a.inside:active{
				<% if !@page.defaultLinks %>
					<%= "color:" %>
					<%= @page.aActive %>
				<% end %>
			;}
			.column 
			{
			  float: left;
			  width: 45%;
			  margin: 4px;
			}
		</style>
	</head>
	<body>
		<div class="column">
			<a href="http://localhost:3000">HOME</a><br>
			<a href="http://localhost:3000/pages">PAGES & WORDS</a>
			<div class="previewBackground">
				<div class="preview">
					<h1><%= @page.title %></h1>

					<p>
						<%= "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
						eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
						nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, 
						sem. Nulla consequat massa quis enim." %>
					</p>

					<p>
						<%= "Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, 
						rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
						Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend 
						tellus." %>
					</p>
					<p>
						<%= "Te duo graeci invenire, ea pri idque corpora deleniti, vim inermis repudiare ea. 
						Ea tamquam constituto his, populo eirmod viderer eu his, autem tollit praesent ne nam. 
						In semper option qui, mei noluisse eleifend eu. Dicant verear ea has. Ut quem ornatus 
						conceptam pro, ex usu legimus maiestatis definitiones." %>
					</p>
					<a class="inside" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">This is a link!</a>
				</div>
			</div>
			<ul>
			  <li><%= link_to "EDIT", edit_page_path(@page) %></li>
			  <li><%= link_to "DELETE", page_path(@page), data: {
								turbo_method: :delete,
								turbo_confirm: "Are you sure?"
							  } %>
			  </li>
			</ul>
		</div>
		<div class="column">
			<h4> My Words:</h4>
			<%= form_with model: @word do |form| %>
				<ul>
				  <% @words.each do |word| %>
					<%= form.radio_button :wordChoices, @word %>
					<%= form.label word.title, @word%>
					<br>
				  <% end %>
				</ul>
				<div>
					<%= form.submit "Produce"%>
				</div>
			<% end %>
		</div>
	<body>
</html>