<!DOCTYPE html>
<html>
	<head>
		<style>
			body 
			{
				background-color: <%= @page.bgColor %>;
				color: <%= @page.fontColor %>;
				font-family: <%= @page.fontStyle %>;
				border-style: <%= @page.borderStyle %>;
				border-width: <%= @page.borderWidth %>;
				border-color: <%= @page.borderColor %>;
			}
			a:link
			{
				color: <%= @page.aLink %>;
			}
			a:visited
			{
				color: <%= @page.aVisited %>;
			}
			a:hover
			{
				color: <%= @page.aHover %>;
			}
			a:active
			{
				color: <%= @page.aActive %>;
			}
			.column {
			  float: left;
			  width: 50%;
			}
		</style>
	</head>
	<body>
		<div class="column">
			<a href="http://localhost:3000">HOME</a><br>
			<a href="http://localhost:3000/pages">PAGES & WORDS</a>
			<h1><%= @page.title %></h1>

			<p>BACKGROUND COLOR: <%= @page.bgColor %></p>

			<p>FONT COLOR: <%= @page.fontColor %></p>

			<p>FONT STYLE: <%= @page.fontStyle %></p>

			<%= link_to "EDIT", edit_page_path(@page) %><br>

			<%= link_to "DELETE", page_path(@page), data: {
						turbo_method: :delete,
						turbo_confirm: "Are you sure?"
					  } %>
		</div>
		<div class="column">
			<h4> My Words:</h4>
			<%= form_with model: @word do |form| %>
				<ul>
				  <% @words.each do |word| %>
					<%= form.radio_button :wordChoices, @word %>
					<%= form.label word.title, @word%>
					<br>
				  <% end %>
				</ul>
				<div>
					<%= form.submit "Produce"%>
				</div>
			<% end %>
		</div>
	<body>
</html>