<%= form_with model: @scrape do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :targetURL, "place to Scrape: " %><br>
    <%= form.url_field :targetURL %>
  </div> 
  
  <div>
    <%= form.submit %>
  </div>
<% end %>