<%= form_with model: @scrape do |form| %>

  <div>
    <%= form.label :targetURL, "place to Scrape: " %><br>
    <%= form.url_field :targetURL %>
  </div> 

<div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %><br>
  </div>

  <div>
    <%= form.label :availability %><br>
    <%= form.text_area :availability %><br>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>