<%= render "links/menuBar" %>

<h1><%= @scrape.title %></h1>

<%# @target = HTTParty.get(@scrape.targetURL) %>
<!--<p><%= @target %></p>-->

<p><%= @scrape.targetURL %></p>

<p><%= @scrape.price %></p>

<p><%= @scrape.availability %></p>

<ul>
  <li><%= link_to "Edit", edit_scrape_path(@scrape) %></li>
  <li><%= link_to "Destroy", scrape_path(@scrape), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
				  
</ul>