<%= render "links/menuBar" %>
<% books = [] %>
<h1><%= @scrape.title %></h1>

<p><%= @scrape.targetURL %></p>

<ul>
  <li><%= link_to "Export", "/scrapes/" + @scrape.id.to_s + "/export" %></li>
 
  <li><%= link_to "Edit", edit_scrape_path(@scrape) %></li>
  <li><%= link_to "Destroy", scrape_path(@scrape), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
				  
</ul>


<h2>Books</h2>
<table>
	<tr>
		<th style="text-align: left"><strong>Title:</strong></th>
		<th><strong>Price:</strong></th>
		<th><strong>Availability:</strong></th>
	</tr>
<% @scrape.books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
	
    <td><%= book.price %></td>
	
    <td><%= book.availability %></td>
  </tr>
  
<% end %>
</table>

<h2>Add a Book:</h2>
<%= form_with model: [ @scrape, @scrape.books.build ] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>
  <p>
    <%= form.label :availability %><br>
    <%= form.text_area :availability %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
