<%= form_with model: @word do |form| %>
  <div>
    <%= form.label :image %><span> upload file</span><br>
    <%= form.file_field :image %>
	<% @word.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
	<% @word.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :p1 %><br>
    <%= form.text_area :p1 %>
	<% @word.errors.full_messages_for(:p1).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>
    
  <div>
      <%= form.label :subtitle1 %><span> (optional)</span><br>
      <%= form.text_field :subtitle1 %>
    <% @word.errors.full_messages_for(:subtitle1).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
  
  <div>
    <%= form.label :p2 %><br>
    <%= form.text_area :p2 %>
	<% @word.errors.full_messages_for(:p2).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>
    
  <div>
    <%= form.label :subtitle2 %><span> (optional)</span><br>
      <%= form.text_field :subtitle2 %>
    <% @word.errors.full_messages_for(:subtitle2).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>
  
  <div>
    <%= form.label :p3 %><br>
    <%= form.text_area :p3 %>
	<% @word.errors.full_messages_for(:p2).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>