<a href="http://localhost:3000">HOME</a><br>
<a href="http://localhost:3000/pages">PAGES & WORDS</a>
<h1><%= @word.title %></h1>


<p><%= @word.image %></p>

<%= image_tag(@word.image) %>

<p><%= @word.p1 %></p>

<h3><%= @word.subtitle1 %></h3>

<p><%= @word.p2 %></p>

<h3><%= @word.subtitle1 %></h3>

<p><%= @word.p3 %></p>

<ul>
  <li><%= link_to "EDIT", edit_word_path(@word) %></li>
    <li><%= link_to "DELETE", word_path(@word), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>