<%= render "links/menuBar" %>
<style>
	img
	{
		float: right;
	}
</style>
<p>Now that you have started your WORD section for your website, you can see your title and image below. Now get started by adding some sections to your webiste.</p>
<p>Below there is a sections called 'Add a section:' this is where you will start adding more information to your website.</p>
<p>When you think you are finished adding sections to your website, click the 'GENERATOR' link</p>

<h1><%= @word.title %></h1>

<ul>
  <li><%= link_to "EDIT", edit_word_path(@word) %></li>
    <li><%= link_to "DELETE", word_path(@word), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= image_tag(@word.image) if @word.image? %>

<h2>Sections:</h2>
<% @word.sections.each do |s| %>
  <p>
	<strong>Title:</strong>
	<%= s.title %>
	<strong>Tag:</strong>
	<%= s.tag %>
      <%= link_to "DELETE", [s.word, s], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
  <p>
	<strong>Body:</strong>
	<%= s.body %>
  </p>
  
<% end %>
<h2>Add a section:</h2>
<%= render 'sections/form' %>