<%= render "menuBar", link: @Link %>
<style>
	img
	{
		float: right;
	}
</style>
<h1><%= @word.title %></h1>

<%= image_tag(@word.image) if @word.image? %>

<p><%= @word.p1 %></p>

<h3><%= @word.subtitle1 %></h3>

<p><%= @word.p2 %></p>

<h3><%= @word.subtitle2 %></h3>

<p><%= @word.p3 %></p>


<ul>
  <li><%= link_to "EDIT", edit_word_path(@word) %></li>
    <li><%= link_to "DELETE", word_path(@word), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>